@forward "./animation";
@forward "./extend";
@use "./setting/variables" as v;
@use "../mixin/mixin" as m;

.hp_mainBlur {
  filter: blur(8px);
}

.zoomOut {
  animation: zoomOutAnime 2s forwards;
}

.btn04 {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  color: #333;
  border: 1px solid #ccc;
  text-decoration: none;
  outline: none;
  overflow: none;
  &:hover {
    color: v.$white;
    border-color: transparent;
    transition-delay: .6s;
  }
  span {
    display: block;
    z-index: 2;
  }
  @include m.mq(lg) {
    padding: 10px 30px !important;
  }
}
.bordertop {
  span {
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 0;
      background-color: v.$first;
      transition: all .3s;
    }
    &::before {
      left: 0;
      top: 0;
    }
    &::after {
      right: 0;
      top: 0;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background-color: v.$first;
    transition: all .3s;
  }
}

.bordertop:hover {
  span {
    &::before,
    &::after {
      height: 100%;
    }
  }
  &:before {
    height: 100%;
    transition-delay: .4s;
  }
}

.bgDU  {
  display: block;
  position: relative;
  overflow: hidden;
  .mask {
    display: block;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      opacity: 0;
      transition: .3s ease-in-out;
      transform: translateY(100%);
      background: v.$first08;  /// 透過
      width: 100%;
      height: 100%
    }
  }
  .cap {
    @extend .positionCenter;
    transition: .5s ease-in-out;
    z-index: 3;
    color: white;
    opacity: 0;
  }

  &:hover {
    .mask::before {
      opacity: 1;
      transform: translateY(0);
    }
    .cap {
      opacity: 1;
    }
  }
}

.fadeIn {
  animation: fadeInAnime 2s forwards;
  opacity: 0;
}

.glowAnime span {
  opacity: 0;
}
.glowAnime.glow span {
  animation: glow_anime_on 1s ease-out forwards;
}

.mainblur {
  filter: blur(8px);
}
.blurTrigger {
  opacity: 0;
}
.blur {
  animation: blurAnime 1s forwards;
}

.slide_in {
  overflow: hidden;
  display: inline-block;
  padding: 0 10px;
  &_inner {
    display: inline-block;
  }
}
.leftAnime,
.rightAnime {
  opacity: 0;
}

.slideAnimeLeftRight {
  animation: slideTextLR100 .8s forwards;
  opacity: 0;
}

.slideAnimeRightLeft {
  animation: slideTextRL100 .8s forwards;
  opacity: 0;
}